DB_HOST=localhost
DB_PORT=5432
DB_USER=sigmawolf1
DB_PASS=
DB_NAME=
NODE_ENV=
CORS_ORIGIN=http://localhost:4200
FRONTEND_URL=http://localhost:4200
API_URL=http://localhost:3000
JWT_SECRET=
JWT_EXPIRATION=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=